#q1 {
    background-image: url('mickeycharacters.jpg');
    background-repeat: 1-repeat;
    background-attachment: fixed;
}
    
#h1 {
    text-align: center;
    color: #5C0082;
    font-family: cursive, arial;
    font-size: 30px;
}
#t1 {
    text-align: left;
    color: #EF19D4;
    font-family: cursive, arial;
    font-size: 25px;
}
#l1 {
    text-align: left;
    color: #05E0F9;
    font-family: arial;
    font-size: 22px;
}
#a1 {
    width:100%;
}
#a2 {
    text-align: center;
    color: #9370DB;
    font-family: cursive, arial;
    font-size: 25px;
    background-color: #DFFAFA;
}   